<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--Local-->
    <add name="SAMContext" connectionString="(connectionString do banco de dados do módulo Patrimonio)" providerName="System.Data.SqlClient" />
    <add name="SAMContextIntegracao" connectionString="(connectionString do banco de dados do módulo Estoque)" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--Utilizado para validar as transações das Views e Acesso as Urls-->
    <!-- Para não validar as transações e Acessos manter a key Desenvolvimento = Ativo, caso contrario trocar valor-->
    <add key="Desenvolvimento" value="Inativo" />
    <!--Alterar endereço proxy quando for usar local ou publicado (desenvolvimento CTQ/homologação)-->
    <!--Local-->
	  <add key="ambienteDesenvolvimento" value="true" />
    <add key="enderecoProxy" value="(proxy paca comunicação com WS externo a rede)" />
    <!--<Desenvolvimento CTQ/Homologação-->
    <add key="userNameProxy" value="(user do proxy de rede)" />
    <add key="passProxy" value="(senha do proxy)" />
    <add key="wsURLConsulta" value="https://www6.fazenda.sp.gov.br/SIAFISICO/RecebeMSG.asmx" />
    <add key="userNameConsulta" value="(Usuário para consulta de dados. A pedir para a SEFAZ)" />
    <add key="passConsulta" value="(Senha do usuário para consulta de dados. A pedir para a SEFAZ)" />
    <add key="wsURLEnvio" value="https://www6.fazenda.sp.gov.br/SIAFISICO/RecebeMSG.asmx" />
    <add key="userNameEnvio" value="(Usuário para enviar dados. A pedir para a SEFAZ)" />
    <add key="passEnvio" value="(Senha do usuário para enviar dados. A pedir para a SEFAZ)" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
    <!-- Configurações do Servidor de Emails-->
    <add key="enderecoServidorEMail" value="smtp.gmail.com" />
    <add key="portaEnvioEmail" value="(porta para envio de e-mail)" />
    <add key="utilizaSSL" value="true" />
    <!-- Credenciais para envio de Email -->
    <add key="eMailParaEnvioSuporteSam" value="(e-mail de suporte da equipe responsável pelo sistema)" />
    <add key="senhaEMailParaEnvioSuporteSam" value="(senha do e-mail de suporte da equipe responsável pelo sistema)" />
  </appSettings>
  <system.web>
    <sessionState timeout="120" />
    <customErrors mode="Off" defaultRedirect="~/Home/Index">
      <error statusCode="400" redirect="~/Home/Mensagem" />
      <error statusCode="401" redirect="~/Home/Mensagem" />
      <error statusCode="402" redirect="~/Home/Mensagem" />
      <error statusCode="403" redirect="~/Home/Mensagem" />
      <error statusCode="404" redirect="~/Home/Mensagem" />
      <error statusCode="405" redirect="~/Home/Mensagem" />
      <error statusCode="500" redirect="~/Home/Mensagem" />
      <error statusCode="501" redirect="~/Home/Mensagem" />
      <error statusCode="502" redirect="~/Home/Mensagem" />
      <error statusCode="503" redirect="~/Home/Mensagem" />
      <error statusCode="504" redirect="~/Home/Mensagem" />
      <error statusCode="505" redirect="~/Home/Mensagem" />
    </customErrors>
    <authentication mode="Forms">
      <forms loginUrl="~/Login"  timeout="1000" />
    </authentication>
    <globalization culture="pt-BR" uiCulture="pt-BR" enableClientBasedCulture="true" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647" executionTimeout="2097151"/>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
      <add verb="*" path="*.ascx" type="System.Web.HttpForbiddenHandler" />
      <add path="*" verb="OPTIONS, PROPFIND" type="System.Web.StaticFileHandler" />
    </httpHandlers>
    <machineKey validationKey="B61C5D4C1933BCD2B6D733FEC796FE0E6DA1A1D1309A8E2667F2F7B37D5962CCA4708C282DBC965F6834E70E478C9FDC8BD07B7960335C03351828B029E13376" decryptionKey="9915EA3382ABF770F61DD1B35B429A0DCD6968E844E657E0083ED95EA145B50D" validation="SHA1" decryption="AES" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>
    <modules>
      <!--<remove name="FormsAuthentication" />-->
      <remove name="ErrorLog" />
      <remove name="ErrorMail" />
      <remove name="ErrorFilter" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.8.0" newVersion="5.5.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp.xmlworker" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.8.0" newVersion="5.5.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.40306.1554" newVersion="4.0.40306.1554" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.40306.1554" newVersion="1.0.40306.1554" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <elmah>
    <security allowRemoteAccess="1" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="SAMContext" />
  </elmah>
  <!--<location path="elmah.axd" inheritInChildApplications="true"></location>-->
</configuration>