IF EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'AuditoriaIntegracao' AND COLUMN_NAME = 'UgeCode' AND TABLE_SCHEMA='DBO')
BEGIN
    ALTER TABLE AuditoriaIntegracao DROP COLUMN UgeCode
END
GO


IF EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'AuditoriaIntegracao' AND COLUMN_NAME = 'InitialName' AND TABLE_SCHEMA='DBO')
BEGIN
    ALTER TABLE AuditoriaIntegracao DROP COLUMN InitialName
END
GO


IF EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'AuditoriaIntegracao' AND COLUMN_NAME = 'AssetId' AND TABLE_SCHEMA='DBO')
BEGIN
    ALTER TABLE AuditoriaIntegracao DROP COLUMN AssetId
END
GO

IF EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'AuditoriaIntegracao' AND COLUMN_NAME = 'NumberIdentification' AND TABLE_SCHEMA='DBO')
BEGIN
    ALTER TABLE AuditoriaIntegracao DROP COLUMN NumberIdentification
END
GO

IF NOT EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'AuditoriaIntegracao' AND COLUMN_NAME = 'AssetMovementIds' AND TABLE_SCHEMA='DBO')
BEGIN
    ALTER TABLE AuditoriaIntegracao ADD AssetMovementIds VARCHAR(MAX)
END
GO


IF EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'AuditoriaIntegracao' AND COLUMN_NAME = 'AssetMovementsIds' AND TABLE_SCHEMA='DBO')
BEGIN
    ALTER TABLE AuditoriaIntegracao DROP COLUMN AssetMovementsIds
END
GO