@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="acao-editar">
        <div class="form-group" style="margin-left:1%">
            <button type="submit" data-toggle="tooltip" data-placement="top" style="background-color: #597EB7 !important; border-color: #597EB7 !important;" class="btn btn-info" value="Delete">
                <i class="glyphicon glyphicon-ok" aria-hidden="true"></i> Excluir
            </button>

            <a class="btnvoltar btn btn-default" href="javascript:history.back()">
                <i class="glyphicon glyphicon-share-alt"></i> Voltar
            </a>
        </div>
    </div>
}