<div class="form-group" style="margin-left:1%">
    <a class="btnEditar btn btn-info" style="background-color: #597EB7 !important; border-color: #597EB7 !important;"href="@Url.Action("Edit", new { id = @Model.Id })">
        <i class="glyphicon glyphicon-pencil editarclass"></i> Editar
    </a>

    <a class="btnvoltar btn btn-default" href="javascript:history.back()">
        <i class="glyphicon glyphicon-share-alt"></i> Voltar
    </a>
</div>
