
<div class="col-sm-12" style="margin-top: 25px">
    <div class="col-sm-4">
        <h3 class="text-primary">@ViewBag.Title</h3>
        <hr style="margin-top: 0px" />
    </div>
</div>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "consultaForm" }))
{
    @Html.Hidden("searchString")
    <button type="submit" id="filtroOculto" style="display: none"> </button>

    <div class="col-sm-12" style="margin-bottom: 30px;">
        <div class="col-sm-4">
            <div class="input-group">
                <input type="text" id="search-tables" name="search-tables" value="@ViewBag.CurrentFilter" placeholder="Busca" class="form-control text-box input-sm single-line" onKeyPress="return sam.search.clickEnter(this,event)" />
                <span class="input-group-addon" id="spanPesquisa" style="cursor: pointer;"><i class="glyphicon glyphicon-search"> </i></span>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="pull-right">
                <a class="btnNovo btn btn-info" style="background-color: #597EB7 !important; border-color: #597EB7 !important;" href="@Url.Action("Create")">
                    <i class="glyphicon glyphicon-plus fa-lg novoclass"></i> Novo
                </a>
            </div>
        </div>
    </div>
}