<div class="form-group" style="margin-left: -1%;">
    <a class="btnHistorico" href="#" title="Histórico" onclick="movimento.AbrirModalHistorico(@Model.Asset.Id)">
        <i class="glyphicon glyphicon-list-alt Historicoclass" style="font-size: 22px;"></i>
        <span class="sr-only">Histórico</span>
    </a>
    &nbsp;
    @*&nbsp;
    <a class="tbnMovimento" href="@Url.Action("Create", "Movimento", new { id = @Model.Id })" title="Movimento">
        <i class="glyphicon glyphicon-transfer" style="font-size: 22px;"></i>
        <span class="sr-only">Movimento</span>
    </a>
    &nbsp;*@
    @*&nbsp;
    <a class="tbnMovimento" href="#" title="Estorno">
        <i class="glyphicon glyphicon-share-alt" style="font-size: 22px;"></i>
        <span class="sr-only">Movimento</span>
    </a>
    &nbsp;*@
</div>
